<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form method="post"  action="submit">
       <input type="text", placeholder="Enter User Name " name="name">
       <br>
       <br>
       <input type="email" placeholder="Enter your email" name="email">
       <br>
       <br>
       <input type="number" placeholder="Enter Your age " name="age">
       <br>
       <br>
       <button>Submit</button>


    </form>
</body>
</html>