<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="main">
        <!-- <h1>Hello EveryOne </h1>
       <p>hey my name is shubham , i am btech 4th years students .currently i working on Node js for the understa</p> -->
       <h1>Name : <%= name %></h1>
       <h1>Course : <%= course %></h1>
       <h1>Age : <%= age %></h1>
    </div>
</body>
</html>