*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;

}
.nav-bar{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-bar.lia{
    cursor: pointer;
}

.two{
    border: 2px solid rgb(101, 159, 136);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(199, 240, 221);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero{
    text-align: center;
    padding: 100px 20px;
   
}
.hero .titel{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 30px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 
button:hover{
    background-color: #555;
}